.container {
  display: flex;
  gap: 40px;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Coluna do formulário */
.form-section {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  margin-bottom: 15px;
  color: #24034b;
}

/* Inputs e textareas */
input,
textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  resize: none;
  min-height: 80px;
}

/* Coluna do Preview */
.preview-section {
  flex: 1;
}

.preview-section div {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Textos no preview */
.preview-section h2 {
  margin-bottom: 5px;
  color: #1d023b;
}

.preview-section h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #310350;
}

.preview-section p {
  margin: 5px 0;
  color: #2a0244;
}
